:root {
  --display-header : flex;
}

.head {
  display: var(--display-header);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.head h1 {
  font-size: 5rem;
  white-space: nowrap;
}

.head span {
  color: var(--theme-color);
}

@media (max-width:1000px) {
  .head h1 {
    font-size: 2rem;
  }
}

@media (max-width:550px) {
  .head {
    transform: scale(70%);
    height: 50vh;
  }
}