:root {
  --theme-color: #a63d40;
  --cart-visible: none;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem 0;
  background-color: #1b1b1b;
  color: white;
  font-size: 1.25rem;
  align-items: center;
  box-shadow: 0 1px 12px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10vh;
}

.lt-side {
  flex: 1 0 25%;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.md-side {
  flex: 2 0 50%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.md-side input {
  width: 70%;
  border: 1px solid rgb(125, 124, 124);
  padding: 0.25rem 1.5rem;
  font-size: 1.25rem;
  font-family: var(--font-Paragraph);
  border-radius: 7px;
}

.rt-side {
  flex: 1 0 25%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
}

.menu {
  display: flex;
  width: 50px;
  margin: 0 20px;
  align-items: center;
  cursor: pointer;
}

.menu img {
  width: 100%;
  filter: invert(100%);
}

.cart {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cart img {
  width: 100%;
  filter: invert(100%);
}

.cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: -15px;
  right: 4px;
  font-size: .75rem;
  background-color: red;
  border-radius: 50%;
}

.user-cart {
  display: var(--cart-visible);
  width: 80%;
  top: 25%;
  left: 10%;
  position: fixed;
  height: 500px;
  z-index: 100;
  flex-direction: column;
  background-color: var(--theme-color);
  color: black;
  overflow-y: auto;
  border-radius: 15px;
}

.quit-btn {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 1rem;
  top: 1rem;
  overflow: hidden;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #1b1b1b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.userCartList {
  display: flex;
  width: 80%;
  margin: 1rem auto;
  box-shadow: 0 1px 12px 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  text-overflow: ellipsis;
  background-color: #fff;
}

.img-cart {
  display: flex;
  width: 10%;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
}

.img-cart img {
  display: block;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.title-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.quantity {
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.testTotal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  max-height: 2rem;
}

.testTotal h6 {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  .md-side {
    display: none;
  }
  .lt-side {
    font-size: 2rem;
  }
}


@media (max-width: 700px) {
  .lt-side {
    font-size: 1.5rem;
  }

  .userCartList {
    flex-direction: column;
  }
  .img-cart {
    width: 100%;
    margin: 0 auto;
  }
  .quit-btn {
    top: 0;
    right: 0;
  }
}
