:root {
  --font-Title: "Montserrat", sans-serif;
  --font-Heading: "Montserrat Alternates", sans-serif;
  --font-Paragraph: "Poppins", sans-serif;

  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-Paragraph);
  color: #fff;
  background-color: #051923;
}

a, a:hover , a:focus, a:visited {
  text-decoration: none;
}
