:root {
  --font-Title: "Montserrat", sans-serif;
  --font-Heading: "Montserrat Alternates", sans-serif;
  --font-Paragraph: "Poppins", sans-serif;

  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-Paragraph);
  color: #fff;
  background-color: #051923;
  transform: scale(75%);
}

a, a:hover , a:focus, a:visited {
  text-decoration: none;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1b1b1b;
}
