:root {
  --border-gray:#BDBDBD;
  --display-header : flex;
}

main {
  width: 100%;
  margin: 0 auto;
  display: var(--display-header);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}

main h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  background-color: #F7F7FF;
  color: var(--theme-color);
  border-radius: 2rem;
  align-items: center;
  padding: .5rem 2rem;
  box-shadow: 0px 2px 10px 15px rgba(0, 0, 0, .3);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 30px;
}

.item-container {
  width: 300px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .3);
}

.item-container:hover {
  transform: scale(110%);
}

.thumbnail-container {
  width: 100%;
  height: 300px;
  position: relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow: hidden;
  transition: 300ms ease-in-o;
  background-color: #0E9594;
}

.thumbnail-container img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
} 

.addcart {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.addcart button {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  background-color: transparent;
  color: rgba(0, 0, 0, .7);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.addcart button:hover{
  background-color: rgba(0, 0, 0, .2);
  border-radius: 15px;
}

.title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  background-color: #0E9594;
}

.title:hover {
  font-size: 1.75rem;
}

.desc {
  background-color: white;
  color: #1b1b1b;
  width: 100%;
  height: 150px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  display: flex;
  padding: 5px;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prices {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-weight: bold;
}

@media (max-width:1000px) {
  main {
    width: 100%;
    transform: scale(70%);
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



@media (max-width:800px) {
  main {
    width: 100%;
    transform: scale(80%);
  }
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:650px) {
  main {
    width: 100%;
  }
  main h1 {
    transform: scale(70%);
  }
  .grid-container {
    transform: scale(70%);
    grid-template-columns: 1fr 1fr;
  }
}
